@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: #0c0d2b;
    color: white;
}


.profile-container {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;           
    margin-top: 0;             
}

.profile-card {
    border-radius: 15px;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    border: none;
}

.profile-image-wrapper {
    position: relative;
    display: inline-block;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #777272;
    cursor: pointer;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 75%;
    padding: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #582cff;
    color: #ffffff;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #582cff !important;
    border: #582cff;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    color: white;
    font-size: 1rem;
    padding: 10px;
}

.form-control::placeholder {
    color: #aaa;
    opacity: 1;
}

.bio-container {
    margin-top: 20px;
}

.profile-name,
.profile-email {
    margin-bottom: 15px;
}

/* Focus Styles */
.form-control:focus {
    border-color: none;
    box-shadow: none;
}

/* Icons */
.input-icon {
    position: absolute;
    left: 10px;
    top: 50%; 
    margin-top: -12px; 
    color: #aaa;
    font-size: 1.2rem;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    padding-left: 35px; 
}

.input-wrapper input:focus {
    background-color: transparent; 
    box-shadow: none; 
    border-bottom: 2px solid #582cff;
}
